body {
    text-align: center;
    
}
#score
        {
            background-color: teal;
            border: 1px solid inherit;
            width: 250px;
            height: 70px;
            margin: 0px auto;
            -webkit-border-radius: 15%;
            -webkit-transition: -webkit-box-shadow 1s, -webkit-transform 1s, background-color 1s;
            font-family: Consolas;
            color: white;
            -webkit-box-flex: 1;
            padding: 4px;
        }
#container{
    display: block;
}
#options
{
    display: none;
}
        #score:hover
        {
            -webkit-box-shadow: 0px 0px 8px;
            -webkit-transform: rotate(360deg);
            background-color: firebrick;
            
            
        }
        #label
        {
            display: block;
            padding: 4px 4px 4px 4px;
            clear: both;
            
        }
        
        #selection
        {
            display: none;
            float: right;
            height: 750px;
            clear: both;
            width: 100px;
            margin: 20px;
            border: 1px solid black;
            background-color: teal;
            box-shadow: 0px 0px 8px;
            color: white;
        }
        
        #labelcont
        {
            font-family: Consolas;
            -webkit-transition: transform 1s;
            
        }
        #labelcont:hover
        {
            transform:  scale(1.15);
        }
        .description
        {
            width: 150px;
            text-align: center;
            
        }
        .description p
        {
            margin: 0px auto;
        }
        .image
        {
            font-family: Consolas;
            -webkit-transition: transform 1s;
        }
        .image:hover
        {
            transform:  scale(1.5);
        }